# Ignore all NodeJS libraries
node_modules

# Ignore VS Code project settings, except the suggested extensions (for new users) and workspace settings (required for the workspace ESLint setup)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Ignore all output files (e.g. line count/lint)
out

# Ignore developer notes
notes.txt

# Ignore todo files
**/todo.txt

# Ignore .env files (except sample .env files)
.env*
!.env.sample

# Ignore .npmrc files
.npmrc

# Ignore .DS_Store files
.DS_Store